*{
    margin: 0;
}
body{
    background-color: white;
}
.same{
    text-decoration: none;
    color: black;
}
.main-1{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    border-radius: 10px;
    border: 5%;
    padding:4%;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.form{
    margin: 1%;
    border: 4%;
    border-radius: 5px;
    
    background-color:#ffffff;
    padding: 10%;
    text-align: center;
    height: 10%;
    font-size: 18px;
}
.header{
    text-align: center;
    font-weight: 800;
    font-size: 26px;
}
.textarea{
    width: 48%;
    padding: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #3498db;
    border-radius: 10px;
    margin: 5px;
    outline: none;
    text-align: center;
}
.button1{
    width: 40%;
    padding: 10px;
    border: solid thin #aaa;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    text-align: center;
    background-color:#3498db;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color:#3498db;
    color:black;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}



.back{
    float: right;
    color: black;
}
.code{
    display: grid;
}
.error{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
    color:crimson;
}
button{
    border: 10px;
    text-align: center;
    width: 100px;
    font-weight: 600;
    background-color:#3498db;
    height:30px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .5s;
}
button:hover {
    background-color:#3498db;
    color:black;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}








  

   /*  import google fonts */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

 * {
     margin: 0;
     padding: 0;
     outline: none;
     border: none;
     text-decoration: none;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }
 
 body {
  background: linear-gradient(90deg, #ccd8e2, #718d99);
 }
 
 nav {
     position: sticky;
     top: 0;
     bottom: 0;
     height: 100vh;
     left: 0;
     width: 90px;
     /* width: 280px; */
     background: #091d2a;
     overflow: hidden;
     transition: 1s;
 }
 
 nav:hover {
     width: 280px;
     
 }
 
 .logo {
     text-align: center;
     display: flex;
     margin: 10px 0 0 10px;
     padding-bottom: 3rem;
 }
 
 .logo img {
     width: 45px;
     height: 45px;
     border-radius: 50%;
 }
 
 .logo span {
     font-weight: bold;
     padding-left: 15px;
     font-size: 18px;
     text-transform: uppercase;
 }

 .logo2 {
   text-align: center;
   display: flex;
   margin: 10px 0 0 10px;
   padding-bottom: 3rem;
   position: relative;
   width: 80px;
   font-size: 14px;
   color: white;
   display: table;
   padding: 10px;
}

.logo2 img {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   position: relative;

   font-size: 14px;
   color: white;
   display: table;
   padding: 10px;
}

.logo2 span {
   font-weight: bold;
   padding-left: 15px;
   font-size: 18px;
   text-transform: uppercase;
   position: relative;
   width: 280px;
   font-size: 14px;
   color: white;
   display: table;
   padding: 10px;
}
 
 a {
     position: relative;
     width: 280px;
     font-size: 14px;
     color: white;
     display: table;
     padding: 10px;
 }
 
 nav .fas {
     position: relative;
     width: 70px;
     height: 40px;
     top: 20px;
     font-size: 20px;
     text-align: center;
     color: white;
 }
 
 .nav-item {
     position: relative;
     top: 12px;
     margin-left: 10px;
     color: white;
 }
 
 a:hover {
     
     border-bottom: 3px solid white;
 }
 
 
 
 .logout {
     position: absolute;
     bottom: 0;
 }
 
 .container {
     display: flex;
 }
 
 /* MAin Section */
 .main {
     position: relative;
     padding: 20px;
     width: 100%;
 }
 
 .main-top {
     display: flex;
     width: 100%;
 }
 
 .main-top i {
     position: absolute;
     right: 0;
     margin: 10px 30px;
     color: black;
     cursor: pointer;
 }
 
 .main .users {
     display: flex;
     width: 100%;
 }