*{
    margin: 0;
}
.header1{
    float: left;
    width: 48%;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:1%;
}
.header{
    height:10%;
  }
.header2{
    float: right;
}

.header1{
  float: center;
}
.middle{
    text-align: right;
    padding-left: 55%;
}

.right1{
  float: right;

}
.round{
  border-radius: 50%;
}
.photo{
  float: right;
  padding-right: 5%;
}
.btn{
    background-color: #091d2a;
    width:100px;
    height:38px;
    font-size:15px;
    transition: transform .4s;
    display: inline-block;
    color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border:1px black;
 }

 .btn:hover{
    background-color: #091d2a;
        -ms-transform: scale(1.2);
   -webkit-transform: scale(1.2); 
   transform: scale(1.2);
 }

 .textarea{
    width: 40%;
    border-radius: 5px;
    padding:12px 14px;
    font-size: 12px;
    color:black;
    margin:10px 0;
    background-color: white;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #091d2a;
   
 }
 
 


.main2{
  margin: auto;
    border: 20px;
    padding-bottom: 6px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    text-align: center;
    padding:20px;
    text-align: center;
    width: 600px;
    height:200px;
    border-radius: 5px;
    
 
}

.main5{

  border: 20px;
  padding-bottom: 6px;
  border-radius: 10px;
  background: whitesmoke;
  text-align: center;
  margin-left: 150px;
  padding:20px;
  text-align: center;
  width: 400px;
  height:100px;
  border-radius: 5px;

}
.main4{
    margin: 1%;
    font-size: 20px;
    color: black;
}
.main3{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    font-style: inherit;
    margin: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border:5px;
    width: 300px;
    text-align: center;
}

.image{
    float: right;
    display: flex;
    padding-right:10px;
    border-radius: 50%;
}
.error{
    color: crimson;
}
.right{
    float: right;
    font-size: 18px;
    padding: 1%;
    color: white;
}
.left{
    flex:50%;
    font-size: 18px;
    padding: 1%;
    float:left;
    color: white;
}


body{
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



.container2 {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 10px 10px;
}



.box2 {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.box2 img {
  height: 180px;
width:100px;
  float: left;
  margin: 13px 15px 15px 13px;

}

.box2 h3 {
  color: black;
  padding: 10px 0;
  font-size: 30px;
}

.box2 p {
  color: black;
  font-size: 20px;
  line-height: 1.6;

}
.available{
  text-align: center;
  font-size: 40px;
}




* {
  box-sizing: border-box;
}

.columns6 {
  float: left;
  width: 25.0%;
  padding: 8px;
}

.price2 {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price2:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price2 .header {
  background-color: #3498db;
  color: white;
  font-size: 25px;
}

.price2 li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price2 .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns6 {
    width: 100%;
  }
}



















  /*  import google fonts */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

  * {
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      text-decoration: none;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }
  
  body {
    background: linear-gradient(90deg, #ccd8e2, #718d99);
  }
  
  nav {
      position: sticky;
      top: 0;
      bottom: 0;
      height: 100vh;
      left: 0;
      width: 90px;
      /* width: 280px; */
      background: #091d2a;
      overflow: hidden;
      transition: 1s;
  }
  
  nav:hover {
      width: 280px;
      
  }
  
  .logo {
      text-align: center;
      display: flex;
      margin: 10px 0 0 10px;
      padding-bottom: 3rem;
  }
  
  .logo img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
  }
  
  .logo span {
      font-weight: bold;
      padding-left: 15px;
      font-size: 18px;
      text-transform: uppercase;
  }

  .logo2 {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
    position: relative;
    width: 80px;
    font-size: 14px;
    color: white;
    display: table;
    padding: 10px;
}

.logo2 img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;

    font-size: 14px;
    color: white;
    display: table;
    padding: 10px;
}

.logo2 span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    width: 280px;
    font-size: 14px;
    color: white;
    display: table;
    padding: 10px;
}
  
  a {
      position: relative;
      width: 280px;
      font-size: 14px;
      color: white;
      display: table;
      padding: 10px;
  }
  
  nav .fas {
      position: relative;
      width: 70px;
      height: 40px;
      top: 20px;
      font-size: 20px;
      text-align: center;
      color: white;
  }
  
  .nav-item {
      position: relative;
      top: 12px;
      margin-left: 10px;
      color: white;
  }
  
  a:hover {
      
      border-bottom: 3px solid white;
  }
  
  
  
  .logout {
      position: absolute;
      bottom: 0;
  }
  
  .container {
      display: flex;
  }
  
  /* MAin Section */
  .main {
      position: relative;
      padding: 20px;
      width: 100%;
  }
  
  .main-top {
      display: flex;
      width: 100%;
  }
  
  .main-top i {
      position: absolute;
      right: 0;
      margin: 10px 30px;
      color: black;
      cursor: pointer;
  }
  
  .main .users {
      display: flex;
      width: 100%;
  }

  



  #pricing-table {
    margin: 50px auto;
    text-align: center;
    width: 100%; /* total computed width */
    
  }
  
  #pricing-table:before, #pricing-table:after {
    content: "";
    display: table
  }
  
  #pricing-table:after {
    clear: both
  }
  
  /* --------------- */ 
  
  #pricing-table .plan {
    font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
    background: #fff;      
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 320px;
    height: 300px;
    float: left;
    _display: inline; /* IE6 double margin fix */
    position: relative;
    margin: 0 5px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);    
  }
  
  #pricing-table .plan:after {
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 10px;
    right: 4px;
    width: 80%; 
    top: 80%; 
    box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    transform: rotate(3deg);  
  } 
  
  
  
  #pricing-table .header {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
  }
  
  #pricing-table .header:after {
    position: absolute;
    bottom: -8px; left: 0;
    height: 3px; width: 100%;
    content: '';
    
  }
  
  #pricing-table .popular-plan .header {
    margin-top: -40px;
    padding-top: 60px;    
  }
  
  
  
  #pricing-table .plan .header{
    border-bottom-color: #091d2a;
  }     
  
  /* --------------- */
  
  #pricing-table .price{
    font-size: 45px;
  }
  
  #pricing-table .monthly{
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
  }
  
  /* --------------- */
  
  #pricing-table ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  
  #pricing-table li {
    padding: 10px 0;
    font-size: 26px;
  }
  
  /* --------------- */
    
  #pricing-table .signup {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #091d2a;
    border-radius: 3px;     
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: .9;       
  }
  
  #pricing-table .signup:hover {
    opacity: 1;       
  }
  
  #pricing-table .signup:active {
    box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
  }     
  
  


