
.row {  
    display: -ms-flexbox; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
   
    flex: 12%;
    background-color: #f0efef;
    padding: 20px;
    width:30px; 
    
  }
  
  .main {   
    
    flex: 78%;
    background-color: white;
    padding: 20px;
  }
  
  
  
  .fakeimg {
    background-color: #aaa;
    background-image:url('images/shh.jpg');
    width: 100%;
    padding: 20px;
  }
  
  .column {
    float: left;
    width: 30%;
    padding: 0 10px;
  }
  
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:#04AA6D;
   
  }
  
  
  
  
  a.card:link, a.card:visited {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
      text-decoration: none;
      font-size:25px;
      color:black;
    text-align: center;
    background-color: white;
    width:320px;
    height:190px;
    display: inline-block;
    margin: 0 auto;
    transition: transform .5s;
    
   
  }
  
  a.card:hover, a.card:active {
    background-color:  white;
       -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
  }