
 .btn{
    background-color: #3498db;
    width:150px;
    height:45px;
    font-size:15px;
    transition: transform .4s;
    display: inline-block;
    color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border:1px #ddd;
    
 }
 
 .btn:hover{
    background-color: #3498db;
        -ms-transform: scale(1.2);
   -webkit-transform: scale(1.2); 
   transform: scale(1.2);
 }
 
  .form-container form .box1{
    width: 50%;
    font-size: 1px;
    color:#04AA6D;
    margin:10px 0;
    border:1px solid;
    background-color:#04AA6D ;
 }


 
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  
  
  
   .form-container{
     min-height: 90vh;
     background-color: var(--light-bg);
     display: flex;
     align-items: center;
     justify-content: center;
     padding:20px;
   
  }
   .form-container form{
     padding:20px;
     background-color: var(--white);
     box-shadow: var(--box-shadow);
     text-align: center;
     width: 600px;
     height:600px;
     border-radius: 5px;
     background-color: #ffffff;
     box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  
   .form-container form .box{
     width: 60%;
     border-radius: 5px;
     padding:12px 14px;
     font-size: 18px;
     color:black;
     margin:10px 0;
     background-color: white;
   
     outline: 0;
     border-width: 0 0 2px;
     border-color: #3498db;
  }
  
  .form-container form .box:focus{
    width: 60%;
    border-radius: 5px;
    padding:12px 14px;
    font-size: 18px;
    color:black;
    margin:10px 0;
    background-color: white;
  
    outline: 0;
    border-width: 0 0 2px;
    border-color: #3498db;
 }
 

  
  .order{
  width:150px;
  height:50px;
  background-color:white;
  }
  
  .order:hover{
  background-color:grey;
  }