* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(90deg, #57a5da, #0a181f);

}




 .form-container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
 
}
 .form-container form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 900px;
   height:1000px;
   border-radius: 5px;
     background-color:white;
}


 .box{
   width: 60%;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 18px;
   color:black;
   margin:10px 0;
   background-color: transparent;
   box-sizing: border-box;
   border: none;
   border-bottom: 2px solid #091d2a;
}

.box2{
  width: 40%;
  border-radius: 5px;
  padding:12px 14px;
  font-size: 18px;
  color:black;
  margin:10px 0;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #091d2a;
}









 label
 {
     display: inline-block;
     width: 70%;;
     text-align: left;
     color: #091d2a;
      }
	  
 
a.edit{
width:150px;
  background-color: #ffffff;
  color: #091d2a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 520px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
   transition: transform .4s;}
  
  a.edit:hover{
  background-color: #ffffff;
    -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);
  }
  
 .form-container form .box{
   width: 80%;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 18px;
   color:black;
   margin:10px 0;
   background-color: white;
   border:3px  #04AA6D ;
 }

.column {
  float: left;
  height:50%;
  padding: 10px;
  height: 900px; 
  background-color:#bbb;
}

.left {
  width: 35%;

}

.right {
  width: 65%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  background-color:#bbb;
}

.profile{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
 
}

.userprofile{
	text-align:center;
}

a.add{
	  text-decoration: none;
    color: #091d2a;
}



.column2 {
 float: left;
 width: 40%;
 padding: 0 10px;
 margin-left:100px;
}


.row2:after {
 content: "";
 display: table;
 clear: both;
}


@media screen and (max-width: 600px) {
 .column2 {
   width: 90%;
   display: block;
   margin-bottom: 20px;
 }
}




a.delete{
width:150px;
 background-color: #ffffff;
 color: red;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  transition: transform .4s;}
 
 a.delete:hover{
 background-color:  #ffffff;
   -ms-transform: scale(1.2);
 -webkit-transform: scale(1.2); 
 transform: scale(1.2);
 }
 
  label {
       display: inline-block;
       width: 100px;
       text-align: left;
       color:#091d2a;
     }


.vehicle{
 text-decoration:none;
 color:#091d2a;
 font-size: 20px;
}

.v{
  text-decoration:none;
  color:black;
  font-size: 30px;
 }
 

.prof{
 border-radius: 50%;
}



a.add{
 color:#1d5071;
 font-size:20px;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color:#f8f9fa;
  height:60px;
}

.navbar a {
  float: left;
  display: block;
  color: #091d2a;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a.right3 {
  float: right;
}

.navbar a:hover {
  border-bottom: 3px solid #091d2a;
}

.navbar a.active {
  background-color:  #f8f9fa;
  color: #091d2a;

}

.side a {
  display: block;
  color: white;
  padding:20px 16px;
  margin-top:40px;
  text-decoration: none;
   transition: transform .4s;
}
 
.side a.active {
  border-bottom: 3px solid #091d2a;
}

.side a:hover {
  border-bottom: 3px solid #091d2a;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  flex-wrap: wrap;
}

.side {
 
  flex: 18%;
  background-color:#091d2a;
  padding: 20px;
  width:35px; 
  
}

.main {   
  
  flex: 78%;
  	background: linear-gradient(90deg, #ccd8e2, #718d99);
  padding: 20px;
}



@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


#main{
font-size:50px;
}


.footer{
	background: #e5edf3;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px; 
	padding: 55px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer .footer-left{
	width: 40%;
}


.footer .footer-links{
	color:  #091d2a;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-links a:hover{
	color: #04AA6D;
}

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}


.footer .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-right{
	width: 20%;
}

.footer .about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}
















body {

	
	display: flex;


	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3,h2,h4,h1 {
	margin: 10px 0;
  color: #091d2a;
}

h2 {
	margin: 5px 0;

}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color:  #0b2333;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	width: 650px;
  height:850px;
	max-width: 100%;
	text-align: center;
  margin: auto;


}



.round {
	border: 1px solid #3498db;;
	border-radius: 50%;
	padding: 7px;
  margin-left: 600px;
}



.skills {
	background-color: #ffffff;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {

	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}







.column3 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}





